{% extends 'base.html.twig' %}

{% block content %}
			<section class="post-wrapper">
				<div class="post-content full-width">
					<h3>Hindi makita ang pahina.</h3>
				</div>
			</section>

{% endblock %}