{% extends 'base.html.twig' %}

{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists  wow fadeInUp">
						<div class="col-md-12">
						<br>
							<div class="post-heading text-center">
								<div class="horizontal-separator"></div>
								<h4><label><strong>About Drilling</strong></label></h4>
							</div>
							<p>Inaugurated in the year 2011, We Love Equipment Corporation is one of the reliable companies for parts, sales and rental of heavy equipment in Misamis Oriental. As it inevitably grows in the geographical arena, it became a prominent supplier for good quality heavy equipment parts with reasonable prices as well as adequate services.Our wide range of heavy equipment products and services are widely demanded currently. With the fabulous support of our expert mechanic team from Korea, our equipment provides us abrink over others in the allied industry. Fulfilling honesty and integrity in all courses, we have a vastlygratified customer.</p>
						</div>
					</div>
				</div>
{% endblock %}
			

			