{% extends 'base.html.twig' %}

{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row">
						<div class="col-md-5">
							<img src="img/drilling-diagram/1.jpg" width="600px" class="img-responsive img-thumbnail" style="border-radius:10px;">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-5">
							<img src="img/drilling-diagram/2.jpg" width="600px" class="img-responsive img-thumbnail" style="border-radius:10px;">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-5">
							<img src="img/drilling-diagram/3.jpg" width="600px" class="img-responsive img-thumbnail" style="border-radius:10px;">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-5">
							<img src="img/drilling-diagram/4.jpg" width="600px" class="img-responsive img-thumbnail" style="border:1px solid #888;">
						</div>
					</div>
				</div>
{% endblock %}
			

			