{% extends 'base.html.twig' %}



{% block content %}
				<br>
				<br>
				<div class="content-wrapper box-lists wow fadeInUp" style="min-height:360px;overflow:visible;">
					<div class="col-lg-12">
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="post-heading text-center ">
									<div class="horizontal-separator"></div>
									<h5><label><strong>Drilling Service Suggestion</strong></label></h5>
								</div>
							</div>
						</div>
						<style type="text/css">
							#circle {
								width: 8in;
								height: 8in;
								background: #666699;
								-moz-border-radius: 50%;
								-webkit-border-radius: 50%;
								border-radius: 50%;
							}
							#circle2 {
								width: 6in;
								height: 6in;
								margin:auto auto;
								position:relative;
								top:1in; 
								bottom:1in;
								background: #9494B8;
								-moz-border-radius: 50%;
								-webkit-border-radius: 50%;
								border-radius: 50%;
							}
							#circle3 {
								width: 4in;
								height: 4in;
								margin:auto auto;
								position:relative;
								top:1in; 
								bottom:1in;
								background: #455D6C;
								-moz-border-radius: 50%;
								-webkit-border-radius: 50%;
								border-radius: 50%;
							}
						</style>
						<div >
							<div class="col-lg-12">	
								<div class="row">
									<div class="col-md-4">
										<table class="table" >
											<thead>
												<tr>
													<!-- <th> -->
														<div class="btn-group" style="width:100%;">
														  <button style="width:80%;" type="button" class="btn btn-default">Casing</button>
														  <button style="width:20%;"type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
														    <span class="caret"></span>
														    <span class="sr-only">Toggle Dropdown</span>
														  </button>
														  <ul class="dropdown-menu" style="width:100%;z-index:9;" id="ddown" role="tablist">
														    
														    <li role="presentation">
														    	<a href="#1" aria-controls="1" role="tab" data-toggle="tab"  class="tab-rates">
																	4" ( 10.16 cm)
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#2" aria-controls="2" role="tab" data-toggle="tab"  class="tab-rates">
																	6" ( 15.24 cm)
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#3" aria-controls="3" role="tab" data-toggle="tab"  class="tab-rates">
																	8" ( 20.32 cm)
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#4" aria-controls="4" role="tab" data-toggle="tab"  class="tab-rates">
																	10" ( 25.4 cm)
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#5" aria-controls="5" role="tab" data-toggle="tab"  class="tab-rates">
																	4" and 6" Double Antenna
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#6" aria-controls="6" role="tab" data-toggle="tab"  class="tab-rates">
																	6" and 8" Double Antenna
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#7" aria-controls="7" role="tab" data-toggle="tab"  class="tab-rates">
																	6" and 8" Double Standard
														    	</a>
														    </li>
														    <li role="separator" class="divider"></li>
														    <li role="presentation">
														    	<a href="#8" aria-controls="8" role="tab" data-toggle="tab"  class="tab-rates">
																	8" and 10" Double Standard
														    	</a>
														    </li>
														    
														  </ul>
														</div>
													<!-- </th> -->
												</tr>
											</thead>	
										</table>
									</div>
									<div class="col-md-7">
										<table class="table" >
											<thead>
												<tr>
													<th width="120px">Drill Type</th>
													<th width="120px">Compressor</th>
													<th width="100px">Rotary</th>
												</tr>
											</thead>	
										</table>
									</div>
								</div>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="1">
									  <div class="row">
										<div class="col-md-4" style="text-align:center;">
											<label>4" ( 10.16 cm)</label>
										</div>
										<div class="col-md-7">
										  
										    
										    	<div class="row" >
										    		<div class="col-lg-4" >
										    			<label>100 meters</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 320,000.00</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 266,666.67</label>
										    		</div>
										    	</div>
										    	<br>
										    	<div class="row" >
										    		<div class="col-lg-4">
										    			<label>150 meters</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 416,000.00</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 346,666.67</label>
										    		</div>
										    	</div>
										    	<br>
										    	<div class="row" >
										    		<div class="col-lg-4">
										    			<label>200 meters</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 540,800.00</label>
										    		</div>
										    		<div class="col-lg-4">
										    			<label>Php 450,666.67</label>
										    		</div>
										    	</div>
										</div>
									  </div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="2">
										<div class="row">
											<div class="col-md-4" style="text-align:center;">
												<label>6" ( 15.24 cm)</label>
											</div>
											<div class="col-md-7">
											  
											    
											    	<div class="row" >
											    		<div class="col-lg-4" >
											    			<label>100 meters</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 480,000.00</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 400,000.00</label>
											    		</div>
											    	</div>
											    	<br>
											    	<div class="row" >
											    		<div class="col-lg-4">
											    			<label>150 meters</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 624,000.00</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 520,000.00</label>
											    		</div>
											    	</div>
											    	<br>
											    	<div class="row" >
											    		<div class="col-lg-4">
											    			<label>200 meters</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 811,200.00</label>
											    		</div>
											    		<div class="col-lg-4">
											    			<label>Php 676,000.00</label>
											    		</div>
											    	</div>
											</div>
										  </div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="3">3</div>
									<div role="tabpanel" class="tab-pane fade" id="4">4</div>
								</div>
								
							<br>
							<br>
							<br>
							<br>
							</div>
							
							<br>
							<br>
						</div>
						
						<table class="table" hidden>
							
										<tr>
											<td>6" ( 15.24 cm) Casing</td>
											<td>100 meters</td>
											<td>Php 480,000.00</td>
											<td>Php 400,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>150 meters</td>
											<td>Php 624,000.00</td>
											<td>Php 520,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>200 meters</td>
											<td>Php 811,200.00</td>
											<td>Php 676,000.00</td>
										</tr>
						</table>
						<table class="table" hidden>
							<tr>
											<td>8" ( 20.32 cm) Casing</td>
											<td>100 meters</td>
											<td>Php 720,000.00</td>
											<td>Php 600,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>150 meters</td>
											<td>Php 936,000.00</td>
											<td>Php 780,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>200 meters</td>
											<td>Php 1,216,800.00</td>
											<td>Php 1,014,000.00</td>
										</tr>
						</table>
						<table class="table" hidden>
										<tr>
											<td>10" ( 25.4 cm) Casing</td>
											<td>100 meters</td>
											<td>Php 1,080,000.00</td>
											<td>Php 900,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>150 meters</td>
											<td>Php 1,404,000.00</td>
											<td>Php 1,170,000.00</td>
										</tr>
										<tr>
											<td></td>
											<td>200 meters</td>
											<td>Php 1,216,800.00</td>
											<td>Php 1,014,000.00</td>
										</tr>
						</table>
					</div>		
				</div>
				<br>
				<br>
				<br>
				<div style="width:100%;">
					<div class="col-lg-12">
						<div class="row">
							<h3><label class="wow fadeInUp" style="position:relative;top:20px;">Standard:</label></h3>
							<div class="col-md-12" style="position:relative;left:180px;">
							
								<div class="wow fadeInUp" id="circle" style="">
									<label style="position:absolute;top:100px;left:80px;">8 Inches</label>
									<div  class="wow fadeInUp" id="circle2" style="">
										<label style="position:absolute;top:100px;left:80px;">6 Inches</label>
										<div  class="wow fadeInUp" id="circle3" style="">
											<label style="position:absolute;top:100px;left:80px;">4 Inches</label>
										</div>
									</div>
								</div>
							</div>
							<br>
					<br>
						</div>
					</div>
					
				</div>

{% endblock %}