{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<br>
		<section class="post-wrapper">
			<div class="post-content full-width">
				<div class="post-image">
					<div class="fotorama" data-nav="thumbs">
						{% for c in data.gallery %}
							<img  data-thumb="img/gallery/{{c}}" src="img/gallery/{{c}}" class="img-responsive">
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}

{% block scripts %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}