{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists wow fadeInUp">
						<div class="col-md-12">
							<br>
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>We Love Equipment Corporation</strong></label></h4>
							</div>
							<div class="col-md-12">
								<div class="pull-left" style="margin:0 15px 15px 0; width:200px;">
									<a href="img/1.jpg" class="grouped_elements">
										<img src="img/1.jpg" class="img-responsive img-thumbnail">
									</a>
								</div>
								<p>
									Pinasinayaan noong taong 2011, ang We Love Equipment Corporation ay isa sa mga mapagkakatiwalaang mga kumpanya para sa mga pyesa, sa sales at rental ng heavy equipments sa Misamis Oriental. Bilang ito ay hindi maaaring hindi lumalaki sa geographical arena, ito ay naging isang kilalang supplier para sa magandang kalidad ng mga bahagi ng mabibigat na kagamitan na may makatwirang presyo pati na rin ng sapat na services.Our malawak na hanay ng mga mabibigat na mga produkto at serbisyo ng mga kagamitan ay malawak na hiningi sa kasalukuyan. Sa pamamagitan ng hindi kapani-paniwala na suporta ng aming koponan ng mga dalubhasa na mekaniko mula sa Korea, ang aming mga kagamitan ay nagbibigay sa amin abrink paglipas ng iba sa magkakatulad industriya. Tuparin katapatan at integridad sa lahat ng mga kurso, mayroon kaming isang vastlygratified customer.
								</p>
								<br>
							</div>
						</div>
					</div>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center">
								<div class="horizontal-separator"></div>
								<h4><label><strong>History</strong></label></h4>
							</div>
							<div class="col-md-12">
							<div class="pull-right" style="margin:0 0px 15px 15px; width:200px;">
								<a href="img/content_img/hpim0770.jpg" class="grouped_elements">
									<img src="img/content_img/hpim0770.jpg" class="img-responsive img-thumbnail">
								</a>
							</div>
							<p>
								Ang kumpanya ay itinatag sa 2011.Eventually, ang We Love Equipment Corporation ay binuo sa isang maaasahang kalipunan na sumasaklaw sa mga bahagi, mga benta, rental at mga serbisyo ng mabigat na kagamitan, mga trak at iba pang paraan ng machine. Noong 2011, Love namin Equipment Corporation tinatayang may dalawampung (20) unit ng mabigat na kagamitan ay nakuha mula sa pinakamalaking supplier sa mundo ng konstruksiyon makinarya sa Korea at Japan. Indue course, ang kumpanya ay umabot hanggang sa higit sa limampung (50) unit ng mabigat na kagamitan kabilang ang mga trak at mabigat na tungkulin machine bilang ng 2013. Ang Love namin Equipment Corporation sa kasalukuyan ay may apat na pung (40) empleyado. Simula sa 2013, ang pag-ibig namin Equipment Corporation ay invested sa bagong site ng pagkakataon para sa isang malaking industriya ng mga mabibigat na kagamitan. Sa kasalukuyan, ang kumpanya ay rendering mga serbisyo ng tubig pagbabarena hawakan sa pamamagitan ng isang dalubhasa Korean operator pati na rin ang mga serbisyo sa pagkumpuni ng mabigat na kagamitan espesyalista sa haydroliko, main pump, elektrikal at engine na may isang dalubhasa Korean
							</p>
							<br>
							</div>
						</div>
					</div>
				</div>
{% endblock %}