{% extends 'base.html.twig' %}



{% block content %}
				<br>
				<br>
				<div class="content-wrapper box-lists">
					<br>
					<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="post-heading text-center wow fadeInUp">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Parts and Accessories</strong></label></h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn" href="#1" aria-controls="1" role="tab" data-toggle="tab">Hydraulic Excavator</button>
							<button class="btn" href="#2" aria-controls="2" role="tab" data-toggle="tab">Mini Excavator</button>
							<button class="btn" href="#3" aria-controls="3" role="tab" data-toggle="tab">Forklift</button>
							<button class="btn" href="#4" aria-controls="4" role="tab" data-toggle="tab">Motor Grader</button>
							<button class="btn" href="#5" aria-controls="5" role="tab" data-toggle="tab">VIB. Road Roller</button>
							
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn" href="#6" aria-controls="6" role="tab" data-toggle="tab">Mini Bulldozer</button>
							<button class="btn" href="#7" aria-controls="7" role="tab" data-toggle="tab">Tractor Head</button>
							<button class="btn" href="#8" aria-controls="8" role="tab" data-toggle="tab">Forward</button>
							<button class="btn" href="#9" aria-controls="9" role="tab" data-toggle="tab">Boom Truck</button>
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-12">
							 <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane fade in active" id="1">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/1.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC290BLC
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													4.6 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2005
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													EC290V13218
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													1047818
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													30.1 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													1.4 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 14, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/1.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC290BLC
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													4.6 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2005
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													EC290V13218
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													1047818
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													30.1 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													1.4 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 14, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/1.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC290BLC
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													4.6 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2005
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													EC290V13218
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													1047818
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													30.1 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													1.4 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 14, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/1.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC290BLC
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													4.6 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2005
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													EC290V13218
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													1047818
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													30.1 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													1.4 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 14, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/1.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC290BLC
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													4.6 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2005
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													EC290V13218
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													1047818
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													30.1 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													1.4 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 14, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="2">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/2.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													Volvo
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													EC55B
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.450 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2007
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													VCEEC55BC00036618
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													13892
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													0.38 M3
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 10, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="3">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													DAEWOO
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													500 K
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													1992
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													FDM40M - 1099
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													D0844 - 200306
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													4.5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													N / A
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													LOCAL 2011
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="4">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													KOMATSU
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													GD30
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													1.5 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													1990
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													GD305M - 1506
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													4D120 - 11 - 76756
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													13 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													N / A
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 25, 2012
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="5">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													HANIX ISUZU
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													CVA - 4
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													650 K
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													CVA - 0399
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													319262
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													4 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													N / A
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													APR 14, 2014
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="6">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													KOMATSU
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Model :
												</div>
												<div class="col-lg-8">
													D31P - 18
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													850 K
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Serial Number :
												</div>
												<div class="col-lg-8">
													44455
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													6D95L - 1
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													3 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Bucket Capacity :
												</div>
												<div class="col-lg-8">
													N / A
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													JAN 23, 2015
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="7">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													HYUNDAI
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													2.2 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2001
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													KMEFJ18SPICO10890
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													D6CA1044286
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													15 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													KWB248
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 15, 2013
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													HYUNDAI
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													2.2 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2001
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													KMEFJ18SPICO10890
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													D6CA1044286
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													15 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													KWB248
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 15, 2013
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													HYUNDAI
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													2.2 M
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													2001
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													KMEFJ18SPICO10890
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													D6CA1044286
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													15 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													KWB248
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 15, 2013
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="8">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													HYUNDAI
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													950 K
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													1997
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													KMFLA19RPVC112096
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													D6BRV006399
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													5 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													JFB930
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													MAR 15, 2013
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="9">
							    	<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													FUSO
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													NFS
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													1993
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													FK516J - 50013
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													6D15 - 311709
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													8 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													RJP423
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													LOCAL 2011
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row">
										<div class="col-lg-5">
											<img class="img-thumbnail" src="img/parts/3.jpg" width="240px">
											
										</div>
										<div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4">
													Brand :
												</div>
												<div class="col-lg-8">
													FUSO
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Color :
												</div>
												<div class="col-lg-8">
													WHITE
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Price :
												</div>
												<div class="col-lg-8">
													NFS
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Year Model :
												</div>
												<div class="col-lg-8">
													1993
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Chasis Number :
												</div>
												<div class="col-lg-8">
													FK516J - 50013
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Engine Number :
												</div>
												<div class="col-lg-8">
													6D15 - 311709
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Weight :
												</div>
												<div class="col-lg-8">
													8 T
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Plate # :
												</div>
												<div class="col-lg-8">
													RJP423
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													Arrival Date :
												</div>
												<div class="col-lg-8">
													LOCAL 2011
												</div>
											</div>
										</div>
									</div>
									<br>
									<br>
							    </div>

							  </div>

						</div>
					</div>
					<br>
					<br>
					</div>
				</div>
				
{% endblock %}