{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<div class="row">
						<div class="col-md-9">
							<div class="post-heading text-center wow fadeInUp">
								<div class="horizontal-separator"></div>
								<label><strong>Parts & Accessories</strong></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">

						  <!-- Nav tabs -->
						  <div class="row" role="tablist">
						  	<div class="col-md-3">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
									<img src="img/hpim0687.jpg" width="250px" >
								</a>
							</div>
							<div class="col-md-3">
								<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
									<img src="img/wle.jpg" width="250px" >
								</a>
							</div>
							<div class="col-md-3">
								<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
									<img src="img/hpim0687.jpg" width="250px" >
								</a>
							</div>
							<div class="col-md-3">
								<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
									<img src="img/wle.jpg" width="250px" >
								</a>
							</div>
						  </div>

						  <!-- Tab panes -->
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane fade in active" id="home">
						    	<div class="row">
						    		<div class="col-md-6" hidden>
										<div class="row">
											<div class="col-md-4">
												<label>Model Name :</label>
											</div>
											<div class="col-md-6">
												<label>Model</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<label>Specifications :</label>
											</div>
											<div class="col-md-6">
												<label>Specifics</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<label>Price :</label>
											</div>
											<div class="col-md-6">
												<label>$$$$$$</label>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										1
									</div>
						    	</div>	
						    </div>
						    <div role="tabpanel" class="tab-pane fade" id="profile">
						    	<div class="col-md-6">
									2
								</div>
						    </div>
						    <div role="tabpanel" class="tab-pane fade"  id="messages">
						    	<div class="col-md-6">
									3
								</div>
						    </div>
						    <div role="tabpanel" class="tab-pane fade" id="settings">
						    	<div class="col-md-6">
									4
								</div>
						    </div>
						  </div>

						</div>
					</div>
				</div>
{% endblock %}