<!DOCTYPE html>
<html>
<head>
	<title>We Love Equipment</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/hover-min.css">
	<link rel="stylesheet" type="text/css" href="css/layerslider.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	{% block stylesheet %}{% endblock %}
</head>
<body>
	<!-- Navigation -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="row">
						<div class="col-md-4">
							<a class="navbar-brand" href="#">
								<img src="img/logo-title.png" class="img-responsive">
							</a>
						</div>
						<div class="col-md-8 language-selection">
							<div class="btn-group pull-right language">
								<a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Language <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">English</a></li>
									<li><a href="#">Tagalog</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right" id="main-menu">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">about us <span class="caret"></span></a>
							<ul class="dropdown-menu submenu">
								<li>
									<a href="#">Our company</a>
								</li>
								<li>
									<a href="#">vision</a>
								</li>
								<li>
									<a href="#">mission</a>
								</li>
								<li>
									<a href="#">history</a>
								</li>
								<li>
									<a href="#">careers</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">products <span class="caret"></span></a>
							<ul class="dropdown-menu submenu">
								<li>
									<a href="#">Heavy Equipments</a>
								</li>
								<li>
									<a href="#">Part and Accessories</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">services <span class="caret"></span></a>
							<ul class="dropdown-menu submenu">
								<li>
									<a href="#">Sales - Available Units</a>
								</li>
								<li>
									<a href="#">Rental</a>
								</li>
								<li>
									<a href="#">Repair</a>
								</li>
								<li>
									<a href="#">Maintenance</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">media gallery <span class="caret"></span></a>
							<ul class="dropdown-menu submenu">
								<li>
									<a href="#">Recent Photo</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">location</a>
						</li>
						<li class="dropdown">
							<a href="#">contact us </a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
			<div class="horizontal-separator"></div>
		</nav>
	</header>

	<!-- Main Container -->
	<div class="main-wrapper container-fluid">
		<div class="row">
			<section class="slider-wrapper overflow">
				<!-- Heavy Equipments -->
				<div class="col-md-6 remove-side-padding" id="first-slider">
					<div class="banner" id="banner-wrapper">						
						<!-- Slider 1 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							
							<div class="ls-l" >
								<div class="col-md-12 img-slide slider-col remove-side-padding">
									<img src="img/slider/maxresdefault.jpg" class="img-responsive" style="width:100%">
								</div>
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								Heavy Equipments
							</h2>
						</div>

						<!-- Slider 2 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
								<img src="img/slider/mwp0023843-new.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								Affordable Rental Rates
							</h2>
						</div>
					</div>
				</div>

				<!-- Drilling Slider -->
				<div class="col-md-6 remove-side-padding" id="second-slider">
					<div class="banner" id="banner-wrapper">						
						<!-- Slider 1 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							
							<div class="ls-l" >
								<div class="col-md-12 img-slide slider-col remove-side-padding">
									<img src="img/slider/maxresdefault.jpg" class="img-responsive" style="width:100%">
								</div>
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:left;">
								Drilling Service
							</h2>
						</div>

						<!-- Slider 2 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
								<img src="img/slider/mwp0023843-new.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:left;">
								Affordable Rental Rates
							</h2>
						</div>
					</div>
				</div>
			</section>
			<div class="horizontal-separator"></div>
		</div>
		<div class="container">
			<div class="col-md-8" id="post-contents">
				<h1>Latest News:</h1>
				
				<!-- Latest News Wrapper -->
				<div class="content-wrapper">
					<div class="box-lists">
						<div class="col-md-2">
							<div class="img-wrapper">
								<a href="#">
									<img src="img/content_img/44__Drilling_rig_MI28_62.JPG" class="img-responsive img-rounded img-thumbnail" style="width:75px;height:75px;">
								</a>
							</div>
						</div>
						<div class="col-md-10 remove-side-padding">
							<div class="content-text">
								<article>
									<h4><a href="#">Lorem Ipsum</a></h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...
									</p>
								</article>
							</div>
						</div>
					</div>
					
					<div class="box-lists">
						<div class="col-md-2">
							<div class="img-wrapper">
								<a href="#">
									<img src="img/content_img/44__Drilling_rig_MI28_62.JPG" class="img-responsive img-rounded img-thumbnail" style="width:75px;height:75px;">
								</a>
							</div>
						</div>
						<div class="col-md-10 remove-side-padding">
							<div class="content-text">
								<article>
									<h4><a href="#">Lorem Ipsum</a></h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...
									</p>
								</article>
							</div>
						</div>
					</div>
					
					<div class="box-lists">
						<div class="col-md-2">
							<div class="img-wrapper">
								<a href="#">
									<img src="img/content_img/44__Drilling_rig_MI28_62.JPG" class="img-responsive img-rounded img-thumbnail" style="width:75px;height:75px;">
								</a>
							</div>
						</div>
						<div class="col-md-10 remove-side-padding">
							<div class="content-text">
								<article>
									<h4><a href="#">Lorem Ipsum</a></h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...
									</p>
								</article>
							</div>
						</div>
					</div>
				</div>
				<div class="search-box-wrapper">
					<div class="row">
						<div class="search-box col-md-12">
							<form>
								<div class="form-group">
									<label>Quick Access</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
										</span>
									</div><!-- /input-group -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" id="side-article">
				<h2>What's special with us?</h2>
				<div class="article-content overflow">
					<div class="box-container">
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> drilling overview</a>
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> drilling machine</a>
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> drilling service diagram</a>
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> work force</a>
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> drilling rate</a>
						<a href="#" class="article-link"><i class="fa fa-angle-double-right"></i> gallery</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Footer -->
	<footer>

	</footer>

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jasny-bootstrap.min.js"></script>
	<script type="text/javascript" src="js/greensock.js"></script>
	<script type="text/javascript" src="js/layerslider.kreaturamedia.jquery.js"></script>
	<script type="text/javascript" src="js/layerslider.transitions.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/parallax.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	{% block scripts %}{% endblock %}

</body>
</html>