{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper career">
					<br>
					<br>
					<div class="row box-lists wow fadeIn">
						<br>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="post-heading text-center ">
										<div class="horizontal-separator"></div>
										<h4><label><strong>Job Opportunities</strong></label></h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-md-10">
									<h4><label>Engine Mechanic</label></h4>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									- With experience in heavy equipment for 3 years<br>
									- With good moral character
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-md-10">
									<h4><label>Heavy Equipment Electrician</label></h4>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									- With experience in heavy equipment for 3 years<br>
									- With good moral character
								</div>
							</div>
							<br>
							<br>
							<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-md-10">
									<label>Requirements :</label>
								</div>
							</div>
							<br>
							<div class="row">
							<div class="col-lg-1"></div>
								<div class="col-md-10">
									<label>
										1. Curriculum Vitae with 2x2 latest photo<br>
										2. 2 valid Identification Card<br>
										3. Previous Employment Certificate<br>
										4. Related Certification<br>
										5. Medical Certification<br>
										6. Latest NBI or Police Clearance<br>
										7. With TIN #, Phil Health #, SSS # and Pag-ibig #
									</label>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<div class="row box-lists wow fadeIn">
						<br>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="post-heading text-center ">
										<div class="horizontal-separator"></div>
										<h4><label><strong>How To Apply</strong></label></h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>1. Send your Curriculum Vitae with 2x2 latest photo and other required documents to <a href="">weloveequipment@hotmail.com</a></label>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12">
									<label>
										Or Call : +639177927200<br><br>
										Walk-in : Zone-4 Doyugan,Sinaloc,El Salvador City (Bring your Requirements)
									</label>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12">
									<label>2. Wait for Feedback for your interview schedule.</label>
								</div>
							</div>
							<br>
						</div>

					</div>
					<br>
				</div>
{% endblock %}