{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper career">
					<br>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="post-heading text-center ">
										<div class="horizontal-separator"></div>
										<h4><label><strong>Job Opportunities</strong></label></h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Job #1</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Job #2</label>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="post-heading text-center ">
										<div class="horizontal-separator"></div>
										<h4><label><strong>How To Apply</strong></label></h4>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<label>Requirements : </label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>If interested and qualified, send your resume to <a href="">WLE@gmail.com</a>. Filename of the attached resume should be "Resume - [position applied] - [your full name]."</p>
								</div>
							</div>
							<br>
						</div>

					</div>
					<br>
				</div>
{% endblock %}