{% extends 'base.html.twig' %}

{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists wow fadeIn">
						<div class="col-lg-3">
							<a href="img/drilling-diagram/1.jpg" rel="group1" class="grouped_elements" >
								<img src="img/drilling-diagram/1.jpg" class="img-hvr img-responsive img-thumbnail" >
							</a>
						</div>
						<div class="col-lg-3">
							<a href="img/drilling-diagram/2.jpg" rel="group1" class="grouped_elements" >
								<img src="img/drilling-diagram/2.jpg" class="img-hvr img-responsive img-thumbnail" >
							</a>
						</div>
						<div class="col-lg-3">
							<a href="img/drilling-diagram/3.jpg" rel="group1" class="grouped_elements" >
								<img src="img/drilling-diagram/3.jpg" class="img-hvr img-responsive img-thumbnail" >
							</a>
						</div>
						<div class="col-lg-3">
							<a href="img/drilling-diagram/4.jpg" rel="group1" class="grouped_elements" >
								<img src="img/drilling-diagram/4.jpg" class="img-hvr img-responsive img-thumbnail" >
								<br>
							</a>
							<br>
						</div>
						<br>
					</div>
				</div>
{% endblock %}
			

			