{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="post-heading text-center wow fadeInUp">
								<div class="horizontal-separator"></div>
								<h5><label><strong>Drilling Service Suggestion</strong></label></h5>
							</div>
						</div>
					</div>
					<style type="text/css">
						#circle p{
							position: absolute;
						}
						#circle {
							width: 300px;
							height: 300px;
							background: #666699;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							border-radius: 50%;
						}
						#circle2 {
							width: 220px;
							height: 220px;
							margin:auto auto;
							position:relative;
							top:40px; 
							bottom:40px;
							background: #9494B8;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							border-radius: 50%;
						}
						#circle3 {
							width: 140px;
							height: 140px;
							margin:auto auto;
							position:relative;
							top:40px; 
							bottom:40px;
							background: #455D6C;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							border-radius: 50%;
						}
					</style>
					<div class="box-lists">
					<div class="col-lg-12">	
					<div class="row">
						<div class="col-md-4">
							<table class="table" >
								<thead>
									<tr>
										<th style="text-align:center;">Casing</th>
									</tr>
								</thead>	
							</table>
						</div>
						<div class="col-md-7">
							<table class="table" >
								<thead>
									<tr>
										<th width="120px">Drill Type</th>
										<th width="120px">Compressor</th>
										<th width="100px">Rotary</th>
									</tr>
								</thead>	
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">	
							<div role="tablist">
								<div class="row">
									<div class="col-lg-12">
										<button style="width:100%;" class="btn" href="#home" aria-controls="home" role="tab" data-toggle="tab">
										4" ( 10.16 cm)
										</button>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-12">
										<button style="width:100%;" class="btn" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
									  	6" ( 15.24 cm)
									  	</button>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-12">
										<button style="width:100%;" class="btn" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
									  	8" ( 20.32 cm)
									  	</button>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-12">
										<button style="width:100%;" class="btn" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
							  			10" ( 25.4 cm)
							  			</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="tab-content">
						    <div role="tabpanel" class="tab-pane fade in active" id="home">
						    	<div class="row" >
						    		<div class="col-lg-4" >
						    			<label>100 meters</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 320,000.00</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 266,666.67</label>
						    		</div>
						    	</div>
						    	<br>
						    	<div class="row" >
						    		<div class="col-lg-4">
						    			<label>150 meters</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 416,000.00</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 416,000.00</label>
						    		</div>
						    	</div>
						    	<br>
						    	<div class="row" >
						    		<div class="col-lg-4">
						    			<label>200 meters</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 540,800.00</label>
						    		</div>
						    		<div class="col-lg-4">
						    			<label>Php 450,666.67</label>
						    		</div>
						    	</div>
						    </div>
						    <div role="tabpanel" class="tab-pane fade" id="profile">2</div>
						    <div role="tabpanel" class="tab-pane fade" id="messages">3</div>
						    <div role="tabpanel" class="tab-pane fade" id="settings">4</div>
						  </div>
						</div>
					</div>
					<br>
					</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-md-12" >
							<div id="circle" style="margin:auto auto;">
								<p>8 Inches</p>
								<div id="circle2" style="">
									<p>6 Inches</p>
									<div id="circle3" style="">
										<p>4 Inches</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<table class="table " hidden>
								<thead>
									<tr>
										<th></th>
										<th>Drill Type</th>
										<th>Compressor</th>
										<th>Rotary</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4" ( 10.16 cm) Casing</td>
										<td>100 meters</td>
										<td>Php 320,000.00</td>
										<td>Php 266,666.67</td>
									</tr>
									<tr>
										<td></td>
										<td>150 meters</td>
										<td>Php 416,000.00</td>
										<td>Php 346,666.67</td>
									</tr>
									<tr>
										<td></td>
										<td>200 meters</td>
										<td>Php 540,800.00</td>
										<td>Php 450,666.67</td>
									</tr>
								</tbody>
							</table>
					<table class="table" hidden>
						
									<tr>
										<td>6" ( 15.24 cm) Casing</td>
										<td>100 meters</td>
										<td>Php 480,000.00</td>
										<td>Php 400,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>150 meters</td>
										<td>Php 624,000.00</td>
										<td>Php 520,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>200 meters</td>
										<td>Php 811,200.00</td>
										<td>Php 676,000.00</td>
									</tr>
					</table>
					<table class="table" hidden>
						<tr>
										<td>8" ( 20.32 cm) Casing</td>
										<td>100 meters</td>
										<td>Php 720,000.00</td>
										<td>Php 600,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>150 meters</td>
										<td>Php 936,000.00</td>
										<td>Php 780,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>200 meters</td>
										<td>Php 1,216,800.00</td>
										<td>Php 1,014,000.00</td>
									</tr>
					</table>

					<table class="table" hidden>
									<tr>
										<td>10" ( 25.4 cm) Casing</td>
										<td>100 meters</td>
										<td>Php 1,080,000.00</td>
										<td>Php 900,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>150 meters</td>
										<td>Php 1,404,000.00</td>
										<td>Php 1,170,000.00</td>
									</tr>
									<tr>
										<td></td>
										<td>200 meters</td>
										<td>Php 1,216,800.00</td>
										<td>Php 1,014,000.00</td>
									</tr>
					</table>	
				</div>
{% endblock %}