{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="post-heading text-center wow fadeInUp">
								<div class="horizontal-separator"></div>
								<label><strong>Heavy Equipments</strong></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn" href="#1" aria-controls="1" role="tab" data-toggle="tab">Hydraulic Excavator</button>
							<button class="btn" href="#2" aria-controls="2" role="tab" data-toggle="tab">Mini Excavator</button>
							<button class="btn" href="#3" aria-controls="3" role="tab" data-toggle="tab">Mini Excavator</button>
							<button class="btn" href="#4" aria-controls="4" role="tab" data-toggle="tab">Mini Excavator</button>
							<button class="btn" href="#5" aria-controls="5" role="tab" data-toggle="tab">Mini Excavator</button>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-5">
							 <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane fade in active" id="1">
							    	<img src="img/gallery/1.jpg">
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="2">
							    	<img src="img/gallery/2.jpg">
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="3">
							    	<img src="img/gallery/3.jpg">
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="4">
							    	<img src="img/gallery/4.jpg">
							    </div>
							    <div role="tabpanel" class="tab-pane fade" id="5">
							    	<img src="img/gallery/5.jpg">
							    </div>
							  </div>

						</div>
						<div class="col-lg-7">
							<div class="row">
								<div class="col-lg-4">
									Model :
								</div>
								<div class="col-lg-8">
									123
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									Specs :
								</div>
								<div class="col-lg-8">
									123
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									Price :
								</div>
								<div class="col-lg-8">
									123
								</div>
							</div>
						</div>
					</div>
				</div>
				
{% endblock %}