{% extends 'base.html.twig' %}

{% block content %}
	<section class="post-wrapper">
		<div class="post-content full-width">
			<div class="post-image">
				<div class="row">
					<div class="col-lg-12">
						<label>	<h1>Hydraulic Excavators</h1></label>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-3">
						<img src="img/rates/excavators/1.jpg" width="150px" height="150px">
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-4">
								<label>Model :</label>
							</div>
							<div class="col-lg-8">
								<label>CAT 325CL</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Capacity :</label>
							</div>
							<div class="col-lg-8">
								<label>1.45 cubic meter</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>200 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>360,000 (1,800/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>100 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>190,000 (1,900/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>50 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>125,000 (2,500/hour)</label>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-3">
						<img src="img/rates/excavators/2.jpg" width="150px" height="150px">
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-4">
								<label>Model :</label>
							</div>
							<div class="col-lg-8">
								<label>VOLVO EC290B (4 Units)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Capacity :</label>
							</div>
							<div class="col-lg-8">
								<label>1.4 cubic meter</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>200 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>340,000 (1,700/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>100 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>180,000 (1,800/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>50 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>120,000 (2,400/hour)</label>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-3">
						<img src="img/rates/excavators/3.jpg" width="150px" height="150px">
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-4">
								<label>Model :</label>
							</div>
							<div class="col-lg-8">
								<label>VOLVO EC290B (4 Units)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Capacity :</label>
							</div>
							<div class="col-lg-8">
								<label>1.4 cubic meter</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>200 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>340,000 (1,700/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>100 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>180,000 (1,800/hour)</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>50 Hours :</label>
							</div>
							<div class="col-lg-8">
								<label>120,000 (2,400/hour)</label>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</section>

{% endblock %}

