{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center wow fadeInUp ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Gallery</strong></label></h4>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row wow fadeInUp ">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/44.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/44.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/29.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/29.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/30.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/30.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row wow fadeInUp">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/31.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/31.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/32.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/32.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/33.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/33.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row wow fadeInUp">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/34.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/34.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/35.jpg" rel="group1" class="grouped_elements">
											<img src="img/gallery-drills/35.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/36.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/36.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row wow fadeInUp">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/37.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/37.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/38.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/38.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/39.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/39.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row wow fadeInUp">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/40.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/40.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/gallery-drills/42.jpg" rel="group1" class="grouped_elements" >
											<img src="img/gallery-drills/42.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>

								

							</div>
						</div>
					</div>
					<br>
				</div>
{% endblock %}