{% extends 'base.html.twig' %}

{% block content %}
			<section class="post-wrapper">
				<div class="post-content full-width">
					<div class="post-image" id="banner-content">
						<div class="col-md-6 remove-side-padding">
							<div id="banner-wrapper">						
								<!-- Slider 1 -->
								<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
									
									<div class="pull-left img-slide ls-l" >
										<div class="col-md-12 slider-col remove-side-padding">
											<img src="img/slider/maxresdefault.jpg" class="img-responsive" style="width:100%">
										</div>
									</div>
									<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetyin:top;">
										Heavy Equipments
									</h2>
									<h4 class="ls-l slide-subheading-text" data-ls="delayin:1700;offsetyin:bottom;">
										Offers Heavy Equipment rentals for Hydraulic Excavators, Graders, Bulldozers and Dump Trucks at a very affordable rate.
									</h4>
								</div>

								<!-- Slider 2 -->
								<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
									<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
										<img src="img/slider/mwp0023843-new.jpg" class="img-responsive">
									</div>
									<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetyin:top;">
										Affordable Rental Rates
									</h2>
									<h4 class="ls-l slide-subheading-text" data-ls="delayin:1700;offsetyin:bottom;">
										Offers rental rates that will fit your needs.
									</h4>
								</div>
							</div>
						</div>


						<div class="col-md-6 remove-side-padding">
							<div id="banner-wrapper2">						
								<!-- Slider 1 -->
								<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
									
									<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
										<img src="img/slider/drillings-2.jpg" class="img-responsive">
									</div>
									<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetyin:top;">
										Water Development Service
									</h2>
									<h4 class="ls-l slide-subheading-text" data-ls="delayin:1700;offsetyin:bottom;">
										Offers Drilling Rentals Rigs at a very affordable rate.
									</h4>
								</div>					
								<!-- Slider 2 -->
								<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
									
									<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
										<img src="img/slider/drillings-1.jpg" class="img-responsive">
									</div>
									<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetyin:top;">
										Affordable Rental Rates
									</h2>
									<h4 class="ls-l slide-subheading-text" data-ls="delayin:1700;offsetyin:bottom;">
										Offers Heavy Equipment rentals for Hydraulic Excavators, Graders, Bulldozers and Dump Trucks at a very affordable rate.
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="post-description-wrapper">
						<div class="post-heading text-center wow fadeInUp">
							<div class="horizontal-separator"></div>
							<label><strong>DRILLING RIGS MANUFACTURE SINCE 1921</strong></label>
						</div>
						<div class="post-text-description  wow fadeInUp">
							<article>
								<p>
									MASSENZA fu GIUSEPPE IMPIANTI DI PERFORAZIONE S.R.L. is glad to welcome you in our new web-site!
									Our company, leader and pathfinder of the sector, since 1921 manufactures and develops drilling rigs more and more efficient and competitive on a quality level. Year in year out, we face the customer satisfaction challenge, suggesting technologies of different kinds and, regardless of the crisis, our customers of the small and medium enterprises are always preferring us to our competitors with our greatest pleasure.
								</p>
								<p>
									All along, our name means tradition and Italian family spirit and this distinguishes us from the others thanks to its distinctive innovation, determination and passion nature.
									Our aim is to grow up in a stable and reliable we would like to remain faithful to the morals our predecessors believed in by keeping them unchanged at any time for future generations.
								</p>
							</article>
						</div>
					</div>
				</div>
			</section>

			
			<section class="post-wrapper">
					<div class="parallax-window" data-parallax="scroll" data-image-src="img/slider/2.jpg"></div>
			</section>

			<!-- NEWS -->
			<section class="post-wrapper">
				<div class="post-content wow fadeInUp">
					<br>
					<div class="post-description-wrapper">
						<div class="post-heading text-center">
							<div class="horizontal-separator"></div>
							<label><strong>news</strong></label>
						</div>
						<div class="post-text-description applications">
							<article class="app-content">
								<div class="row ">
									<div class="col-lg-3" style="width:120px">
										<img src="img/content_img/169__Drilling_rig_Sondeuse_MI3_1.jpg">
									</div>
									<div class="col-lg-9 ">
										<div class="row">
											<h5><b>New Drilling rig MI3 - Continuos Evolution</b></h5>	
										</div>
										<div class="row">
											<p>
												New arrival at Massenza: MI3 powerful and compact
											</p>
										</div>	
									</div>
								</div>
							</article>
							<article class="app-content">
								<div class="row ">
									<div class="col-lg-3" style="width:120px">
										<img src="img/content_img/169__Drilling_rig_Sondeuse_MI3_1.jpg">
									</div>
									<div class="col-lg-9 ">
										<div class="row">
											<h5><b>New Drilling rig MI3 - Continuos Evolution</b></h5>	
										</div>
										<div class="row">
											<p>
												New arrival at Massenza: MI3 powerful and compact
											</p>
										</div>	
									</div>
								</div>
							</article>
							<article class="app-content">
								<div class="row ">
									<div class="col-lg-3" style="width:120px">
										<img src="img/content_img/169__Drilling_rig_Sondeuse_MI3_1.jpg">
									</div>
									<div class="col-lg-9 ">
										<div class="row">
											<h5><b>New Drilling rig MI3 - Continuos Evolution</b></h5>	
										</div>
										<div class="row">
											<p>
												New arrival at Massenza: MI3 powerful and compact
											</p>
										</div>	
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
{% endblock %}