{% extends 'base.html.twig' %}

{% block slider %}
		<div class="row">
			<section class="slider-wrapper overflow">
				<!-- Heavy Equipments -->
				<div class="col-md-6 remove-side-padding" id="first-slider">
					<div class="banner" id="banner-wrapper">

						<!-- Slider 1 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin:top;offsetxin:left">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:left;offsetxout:right;">
								<img src="img/slider/maxresdefault680x400.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								Heavy Equipments
							</h2>
						</div>

						<!-- Slider 2 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin:top;offsetxin:left">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:left;offsetxout:right;">
								<img src="img/slider/mwp0023843-680x400.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								Affordable Rental Rates
							</h2>
						</div>
					</div>
				</div>

				<!-- Drilling Slider -->
				<div class="col-md-6 remove-side-padding" id="second-slider">
					<div class="banner" id="banner-wrapper2">

						<!-- Slider 1 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;offsetxout:left">
								<img src="img/slider/drillings-1-680x400.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:left;">
								Drilling Service
							</h2>
						</div>

						<!-- Slider 2 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;offsetxout:left">
								<img src="img/slider/drillings-2-680x400.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:left;">
								Water Development Service
							</h2>
						</div>
					</div>
				</div>
			</section>
			<div class="horizontal-separator"></div>
		</div>
{% endblock %}

{% block content %}

	<h1>{{ translations['main_heading_title'] }}</h1>
	<div class="horizontal-separator"></div>
		<br>
		<!-- Latest News Wrapper -->
		<div class="content-wrapper">
			<div class="box-lists">
				<div class="col-md-2">
					<div class="img-wrapper">
						<a href="index.php?page=water-development-service">
							<img src="img/latest-post/latest-news.png" class="img-responsive img-rounded img-thumbnail" style="width:75px;height:75px;">
						</a>
					</div>
				</div>
				<div class="col-md-10 remove-left-padding">
					<div class="content-text">
						<article>
							<h4><a href="index.php?page=water-development-service">Water Development Service</a></h4>
							<p class="text-left">
								1. Only us could give you guarantee to have water source
								If we can’t find at first hole, we drill 2nd hole for free of charge!
								2. Only us have 30-35years experienced foreign drill
								operators who will drill by himself.
								3. Only us ...
							</p>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="search-box-wrapper" style="padding: 20px 0;" hidden>
			<div class="row">
				<div class="search-box col-md-12">
					<form>
						<div class="form-group">
							<label>Quick Access</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div><!-- /input-group -->
						</div>
					</form>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
{% endblock %}