{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row">
						<div class="col-md-12" style="margin:0 auto;">
							<img src="img/1.jpg" width="100%" class="img-responsive img-thumbnail" style="border-radius:10px;">
						</div>
					</div>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>We Love Equipment Corporation</strong></label></h4>
							</div>
							<div class="col-md-12">
							<p>Inaugurated in the year 2011, We Love Equipment Corporation is one of the reliable companies for parts, sales and rental of heavy equipment in Misamis Oriental. As it inevitably grows in the geographical arena, it became a prominent supplier for good quality heavy equipment parts with reasonable prices as well as adequate services.Our wide range of heavy equipment products and services are widely demanded currently. With the fabulous support of our expert mechanic team from Korea, our equipment provides us abrink over others in the allied industry. Fulfilling honesty and integrity in all courses, we have a vastlygratified customer.</p>
							<br>
							</div>
						</div>
					</div>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center">
								<div class="horizontal-separator"></div>
								<h4><label><strong>History</strong></label></h4>
							</div>
							<div class="col-md-12">
							<p>The company was founded in 2011.Eventually, We Love Equipment Corporation has developed into a reliable conglomerate which encompasses parts, sales, rental and services of heavy equipment, trucks and other means of machines.
							In 2011, We Love Equipment Corporation approximately has twenty (20) unit of heavy equipment acquired from the world’s largest supplier of construction machinery in Korea and Japan. Indue course, the company has reached up to more than fifty (50) unit of heavy equipment including trucks and heavy duty machines as of 2013. The We Love Equipment Corporation currently has forty (40) employees.
							Beginning in 2013, We Love Equipment Corporation had invested on new site of opportunity for an enormous industry of heavy equipment. Currently, the company has been rendering water drilling services handled by an expert Korean operator as well as repair services of heavy equipment specialized in hydraulic, main pump, electrical and engine with an adept Korean mechanic. 
							</p>
							<br>
							</div>
						</div>
					</div>
				</div>
{% endblock %}