{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<div class="row">
						<div class="col-md-12" style="margin:0 auto;">
							<div class="banner" id="banner-wrapper">						
						<!-- Slider 1 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							
							<div class="ls-l" >
								<div class="col-md-12 img-slide slider-col remove-side-padding">
									<img src="img/slider/maxresdefault.jpg" class="img-responsive" style="width:100%">
								</div>
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								We Love Equipment Corporation
							</h2>
						</div>

						<!-- Slider 2 -->
						<div class="ls-slide slide-content"  data-ls="offsetyin: top;">
							<div class="img-slide ls-l" data-ls="delayin:500;offsetxin:right;">
								<img src="img/slider/mwp0023843-new.jpg" class="img-responsive">
							</div>
							<h2 class="ls-l slide-heading-text" data-ls="delayin:1000;offsetxin:right;">
								We Love Equipment Corporation
							</h2>
						</div>
					</div>
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="post-heading text-center wow fadeInUp">
								<div class="horizontal-separator"></div>
								<h3><label><strong>We Love Equipment Corporation</strong></label></h3>
							</div>
							<br>
							<p>Inaugurated in the year 2011, We Love Equipment Corporation is one of the reliable companies for parts, sales and rental of heavy equipment in Misamis Oriental. As it inevitably grows in the geographical arena, it became a prominent supplier for good quality heavy equipment parts with reasonable prices as well as adequate services.Our wide range of heavy equipment products and services are widely demanded currently. With the fabulous support of our expert mechanic team from Korea, our equipment provides us abrink over others in the allied industry. Fulfilling honesty and integrity in all courses, we have a vastlygratified customer.</p>
						</div>
					</div>
				</div>
{% endblock %}