	{% extends 'base.html.twig' %}



{% block content %}
				<br>
				<br>
				<div class="content-wrapper box-lists wow fadeIn" style="overflow:visible;min-height:450px;">
					<div class="col-lg-12 ">
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="post-heading text-center ">
									<div class="horizontal-separator"></div>
									<h5><label><strong>Rental Rates</strong></label></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 " style="z-index:999;">
						<div class="row">
							<div class="col-lg-7">
								
							</div>
							<div class="col-lg-5">
								<div class="btn-group" style="width:100%;">
									<a href="#0" aria-controls="0" role="tab" data-toggle="tab" style="width:80%;" type="button" class="btn btn-default btn-sm">Select Equipment</a>
									<button style="width:20%;"type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" style="width:100%;z-index:9;" role="tablist">
																    
										<li role="presentation">
											<a href="#1" aria-controls="1" role="tab" data-toggle="tab">
												Hydraulic Excavator
											</a>
										</li>
										<li role="presentation">
											<a href="#2" aria-controls="2" role="tab" data-toggle="tab">
												Mini Excavator
											</a>
										</li>
										<li role="presentation">
											<a href="#3" aria-controls="3" role="tab" data-toggle="tab">
												Breaker ( For Excavator)
											</a>
										</li>
										<li role="presentation">
											<a href="#4" aria-controls="4" role="tab" data-toggle="tab">
												Wheel Type Backhoe 
											</a>
										</li>
										<li role="presentation">
											<a href="#5" aria-controls="5" role="tab" data-toggle="tab">
												Bulldozer
											</a>
										</li>
										<li role="presentation">
											<a href="#6" aria-controls="6" role="tab" data-toggle="tab">
												Road Roller
											</a>
										</li>
										<li role="presentation">
											<a href="#7" aria-controls="7" role="tab" data-toggle="tab">
												Motor Grader
											</a>
										</li>
										<li role="presentation">
											<a href="#8" aria-controls="8" role="tab" data-toggle="tab">
												Truck
											</a>
										</li>
										<li role="presentation">
											<a href="#9" aria-controls="9" role="tab" data-toggle="tab">
												Forklift
											</a>
										</li>
										<li role="presentation">
											<a href="#10" aria-controls="10" role="tab" data-toggle="tab">
												Engine-Type Air Compressor
											</a>
										</li>	
										<li role="presentation">
											<a href="#11" aria-controls="11" role="tab" data-toggle="tab">
												Generator
											</a>
										</li>
										<li role="presentation">
											<a href="#12" aria-controls="12" role="tab" data-toggle="tab">
												Others
											</a>
										</li>		    
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="0">
							<div class="col-lg-12">
								<br>
								<center>
								<a href="img/rates.png" rel="group1" class="grouped_elements" title="Rental Rates">
									<img src="img/rates.png" class="img-hvr img-thumbnail" width="400px">
								</a>
								</center>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="1">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Hydraulic Excavators</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Hyundai 3000LC</td>
											<td>1.4 cubic meter</td>
											<td>Php 340,000.00 (1,700/hr)</td>
											<td>Php 180,000.00 (1,800/hr)</td>
											<td>Php 120,000.00 (2,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Volvo EC290B</td>
											<td>1.4 cubic meter</td>
											<td>Php 340,000.00 (1,700/hr)</td>
											<td>Php 180,000.00 (1,800/hr)</td>
											<td>Php 120,000.00 (2,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Samsung MX292 </td>
											<td>1.4 cubic meter</td>
											<td>Php 340,000.00 (1,700/hr)</td>
											<td>Php 180,000.00 (1,800/hr)</td>
											<td>Php 120,000.00 (2,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Hyundai R2200LC-7</td>
											<td>1 cubic meter</td>
											<td>Php 260,000.00 (1,300/hr)</td>
											<td>Php 160,000.00 (1,600/hr)</td>
											<td>Php 90,000.00 (1,800/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Volvo EC210B</td>
											<td>1 cubic meter</td>
											<td>Php 260,000.00 (1,300/hr)</td>
											<td>Php 160,000.00 (1,600/hr)</td>
											<td>Php 90,000.00 (1,800/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Hyundai 1400</td>
											<td>0.6 cubic meter</td>
											<td>Php 200,000.00 (1,000/hr)</td>
											<td>Php 120,000.00 (1,200/hr)</td>
											<td>Php 70,000.00 (1,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Daewoo 130LC</td>
											<td>0.6 cubic meter</td>
											<td>Php 200,000.00 (1,000/hr)</td>
											<td>Php 120,000.00 (1,200/hr)</td>
											<td>Php 70,000.00 (1,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="2">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Mini Excavators</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Volvo EC55</td>
											<td>0.38 cubic meter</td>
											<td>Php 130,000.00 (650/hr)</td>
											<td>Php 70,000.00 (700/hr)</td>
											<td>Php 40,000.00 (800/hr)</td>
											<td>Php 18,000.00 (900/hr)</td>
											<td>Php 10,000.00 (1,000/hr)</td>
										</tr>
										<tr>
											<td>Doosan SL55</td>
											<td>0.38 cubic meter</td>
											<td>Php 130,000.00 (650/hr)</td>
											<td>Php 70,000.00 (700/hr)</td>
											<td>Php 40,000.00 (800/hr)</td>
											<td>Php 18,000.00 (900/hr)</td>
											<td>Php 10,000.00 (1,000/hr)</td>
										</tr>
										<tr>
											<td>Hyundai R555</td>
											<td>0.38 cubic meter</td>
											<td>Php 130,000.00 (650/hr)</td>
											<td>Php 70,000.00 (700/hr)</td>
											<td>Php 40,000.00 (800/hr)</td>
											<td>Php 18,000.00 (900/hr)</td>
											<td>Php 10,000.00 (1,000/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="3">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Breaker (For Excavator)</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>-</td>
											<td>for 0.3 size</td>
											<td>Php 300 / hr</td>
											<td>Php 320 / hr</td>
											<td>Php 350 / hr</td>
											<td>Php 400 / hr</td>
											<td>Php 500 / hr</td>
										</tr>
										<tr>
											<td>-</td>
											<td>for 0.6 size</td>
											<td>Php 400 / hr</td>
											<td>Php 440 / hr</td>
											<td>Php 500 / hr</td>
											<td>Php 600 / hr</td>
											<td>Php 700 / hr</td>
										</tr>
										<tr>
											<td>-</td>
											<td>for 1 size</td>
											<td>Php 500 / hr</td>
											<td>Php 580 / hr</td>
											<td>Php 650 / hr</td>
											<td>Php 750 / hr</td>
											<td>Php 850 / hr</td>
										</tr>
										<tr>
											<td>-</td>
											<td>for 1.4 size</td>
											<td>Php 700 / hr</td>
											<td>Php 800 / hr</td>
											<td>Php 900 / hr</td>
											<td>Php 1,000 / hr</td>
											<td>Php 1,200 / hr</td>
										</tr>
									</tbody>	
								</table>
							</div>
							<div class="col-md-12" style="text-align:center;">
								<label>
								* Breakers goes with our operational unit, it is not rentable without our excavator unit *
								</label>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="4">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Wheel-Type Backhoe</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Volvo EW55</td>
											<td>0.38 cubic meter</td>
											<td>Php 170,000.00 (850/hr)</td>
											<td>Php 100,000.00 (1,000/hr)</td>
											<td>Php 60,000.00 (1,200/hr)</td>
											<td>Php 28,000.00 (1,400/hr)</td>
											<td>Php 16,000.00 (1,600/hr)</td>
										</tr>
										<tr>
											<td>Doosan S55W</td>
											<td>0.38 cubic meter</td>
											<td>Php 170,000.00 (850/hr)</td>
											<td>Php 100,000.00 (1,000/hr)</td>
											<td>Php 60,000.00 (1,200/hr)</td>
											<td>Php 28,000.00 (1,400/hr)</td>
											<td>Php 16,000.00 (1,600/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="5">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Bulldozer</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Komatsu D30</td>
											<td>-</td>
											<td>Php 260,000.00 (1,300/hr)</td>
											<td>Php 140,000.00 (1,400/hr)</td>
											<td>Php 75,000.00 (1,500/hr)</td>
											<td>Php 32,000.00 (1,600/hr)</td>
											<td>Php 18,000.00 (1,800/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="6">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Road Roller</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Hanix Isuzu</td>
											<td>45 Tons</td>
											<td>Php 600.00</td>
											<td>Php 650.00</td>
											<td>Php 700.00</td>
											<td>Php 750.00</td>
											<td>Php 800.00</td>
										</tr>
										<tr>
											<td>Ingersoll - Rand</td>
											<td>10 Tons</td>
											<td>Php 1,200.00</td>
											<td>Php 1,300.00</td>
											<td>Php 1,400.00</td>
											<td>Php 1,500.00</td>
											<td>Php 1,600.00</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="7">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Motor Grader</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Komatsu D60</td>
											<td>-</td>
											<td>Php 260,000.00 (1,300/hr)</td>
											<td>Php 145,000.00 (1,450/hr)</td>
											<td>Php 85,000.00 (1,700/hr)</td>
											<td>Php 38,000.00 (1,900/hr)</td>
											<td>Php 21,000.00 (2,100/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="8">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Truck</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>Per 1 sq. yard</th>
											<th>Per km/Mt. tons</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Trailer w/Head</td>
											<td colspan="3">40 tons / High and Low gear equipt. / Under Negotiation</td>
										</tr>
										<tr>
											<td>Hyundai Dump</td>
											<td>15 tons</td>
											<td>Php 7,000.00 / day</td>
											<td>Php 8,000.00 / day</td>
										</tr>
										<tr>
											<td>Boom Truck</td>
											<td>8 tons</td>
											<td colspan="2">Php 4,000.00 / day only loading, Php 8,000.00 / use of crane </td>
										</tr>
										<tr>
											<td>Boom Truck</td>
											<td>5 tons</td>
											<td colspan="2">Php 5,000.00 / day only loading, Php 10,000.00 / use of crane</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="9">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Forklift</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>-</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Daewoo</td>
											<td>5 Tons</td>
											<td>Php 600.00 / hr</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="10">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Engine-Type Air Compressor</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr class="tr-font">
											<th colspan="2">MODEL</th>
											<th>Per day (8 hrs)</th>
											<th>add 1 Air Hammer</th>
											<th>add 1 Chopping Hammer</th>
											<th>-</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Denvo 10k</td>
											<td>Php 4,000.00 / day</td>
											<td>Php 1,500.00 / day</td>
											<td>Php 1,000.00 / day</td>
											<td>w / 1 compressor operator</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="11">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Generator</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr class="tr-font">
											<th>MODEL</th>
											<th colspan="2">No Wire will be provided</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Daewoo 25KW</td>
											<td>diesel</td>
											<td>Php 2,800.00 / day</td>
										</tr>
										<tr>
											<td>Portable Generator</td>
											<td>7kw,8kw,2kw</td>
											<td>Php 1,200.00 / day</td>
										</tr>
										<tr>
											<td>Portable Engine water pump</td>
											<td>-</td>
											<td>Php 1,500.00 / day</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="12">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Others</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr class="tr-font">
											<th>Name</th>
											<th colspan="2">-</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Chainsaw</td>
											<td>Steel D70</td>
											<td>Php 1,300.00 / day w/operator</td>
										</tr>
										<tr>
											<td>Jackhammer Electrical</td>
											<td>Php 800.00 / day</td>
											<td>Php 1,300.00 / day w/operator</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-lg-12 box-lists wow fadeIn">
					<div class="col-lg-12 ">
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="post-heading text-center ">
									<div class="horizontal-separator"></div>
									<h5><label><strong>Rental Conditions</strong></label></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 ">
						<div class="row">
							<div class="col-lg-12">
								<label>1. Rental Quotation will be provided upon request.</label>
								<label>2. Authorized operator and lubricants will be provided by thr Lessor.</label>
								<label>3. In case of unit breakdown, the Lessor will send the rescue team with its own expense.</label>
								<label>4. Mobilization and demobilization shall be charged to the Lessse. Lessor coulb also provide for trucking but woth corresponding charges depending on the distance and location condition.</label>
								<label>5. Rental payment upon mobilization</label><br>
								<label>6. Rental payment is prepaid</label>
								<label>7. We accept cash and check. (For check: Post-dated and cross check is not acceptable).</label>
							</div>
						</div>
						<br>
					</div>
				</div>
				

{% endblock %}