{% extends 'base.html.twig' %}



{% block content %}
				<br>
				<br>
				<div class="content-wrapper box-lists " style="overflow:visible;min-height:380px;">
					<div class="col-lg-12 ">
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="post-heading text-center ">
									<div class="horizontal-separator"></div>
									<h5><label><strong>Rental Rates</strong></label></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 " style="z-index:999;">
						<div class="row">
							<div class="col-lg-7">
								
							</div>
							<div class="col-lg-5">
								<div class="btn-group" style="width:100%;">
									<button style="width:80%;" type="button" class="btn btn-default btn-sm">Equipments</button>
									<button style="width:20%;"type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" style="width:100%;z-index:9;" role="tablist">
																    
										<li role="presentation">
											<a href="#1" aria-controls="1" role="tab" data-toggle="tab">
												Hydraulic Excavator
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#2" aria-controls="2" role="tab" data-toggle="tab">
												Mini Excavator
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#3" aria-controls="3" role="tab" data-toggle="tab">
												Wheel Type Backhoe 
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#4" aria-controls="4" role="tab" data-toggle="tab">
												Bulldozer
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#5" aria-controls="5" role="tab" data-toggle="tab">
												Motor Grader
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#6" aria-controls="6" role="tab" data-toggle="tab">
												Truck
											</a>
										</li>
										<li role="separator" class="divider"></li>
										<li role="presentation">
											<a href="#7" aria-controls="7" role="tab" data-toggle="tab">
												Air Compressor
											</a>
										</li>				    
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="">
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="1">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Hydraulic Excavators</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>CAT 325CL</td>
											<td>1.45 cubic meter</td>
											<td>360,000.00 (1,800/hr)</td>
											<td>190,000.00 (1,900/hr)</td>
											<td>125,000.00 (2,500/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Volvo EC290B</td>
											<td>1.4 cubic meter</td>
											<td>340,000.00 (1,700/hr)</td>
											<td>180,000.00 (1,800/hr)</td>
											<td>120,000.00 (2,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Samsung MX292</td>
											<td>1.4 cubic meter</td>
											<td>340,000.00 (1,700/hr)</td>
											<td>180,000.00 (1,800/hr)</td>
											<td>120,000.00 (2,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Samsung MX222</td>
											<td>1 cubic meter</td>
											<td>260,000.00 (1,300/hr)</td>
											<td>160,000.00 (1,600/hr)</td>
											<td>90,000.00 (1,800/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Samsung MX225</td>
											<td>1 cubic meter</td>
											<td>260,000.00 (1,300/hr)</td>
											<td>160,000.00 (1,600/hr)</td>
											<td>90,000.00 (1,800/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Samsung MX82</td>
											<td>1 cubic meter</td>
											<td>260,000.00 (1,300/hr)</td>
											<td>160,000.00 (1,600/hr)</td>
											<td>90,000.00 (1,800/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
										<tr>
											<td>Daewoo 130LC</td>
											<td>0.65 cubic meter</td>
											<td>200,000.00 (1,000/hr)</td>
											<td>120,000.00 (1,200/hr)</td>
											<td>70,000.00 (1,400/hr)</td>
											<td>-</td>
											<td>-</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="2">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Mini Excavators</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Volvo EC55</td>
											<td>0.38 cubic meter</td>
											<td>140,000.00 (700/hr)</td>
											<td>75,000.00 (750/hr)</td>
											<td>40,000.00 (800/hr)</td>
											<td>18,000.00 (900/hr)</td>
											<td>10,000.00 (1,000/hr)</td>
										</tr>
										<tr>
											<td>Doosan SL55</td>
											<td>0.38 cubic meter</td>
											<td>140,000.00 (700/hr)</td>
											<td>75,000.00 (750/hr)</td>
											<td>40,000.00 (800/hr)</td>
											<td>18,000.00 (900/hr)</td>
											<td>10,000.00 (1,000/hr)</td>
										</tr>
										<tr>
											<td>Hyundai R555</td>
											<td>0.38 cubic meter</td>
											<td>140,000.00 (700/hr)</td>
											<td>75,000.00 (750/hr)</td>
											<td>40,000.00 (800/hr)</td>
											<td>18,000.00 (900/hr)</td>
											<td>10,000.00 (1,000/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="3">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Breaker (For Excavator)</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>-</td>
											<td>for 55 Series</td>
											<td>300 / hr</td>
											<td>320 / hr</td>
											<td>350 / hr</td>
											<td>400 / hr</td>
											<td>500 / hr</td>
										</tr>
										<tr>
											<td>-</td>
											<td>for 130 size</td>
											<td>400 / hr</td>
											<td>440 / hr</td>
											<td>520 / hr</td>
											<td>680 / hr</td>
											<td>750 / hr</td>
										</tr>
									</tbody>	
								</table>
							</div>
							<div class="col-md-12" style="text-align:center;">
								<label>
								* Breakers goes with our operational unit, it is not rentable without our excavator unit *
								</label>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="4">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Bulldozer</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Mitsubishi MD2</td>
											<td>-</td>
											<td>220,000.00 (1,100/hr)</td>
											<td>120,000.00 (1,200/hr)</td>
											<td>72,500.00 (1,450/hr)</td>
											<td>36,000.00 (1,800/hr)</td>
											<td>20,000.00 (2,000/hr)</td>
										</tr>
										<tr>
											<td>Komatsu D60</td>
											<td>-</td>
											<td>440,000.00 (2,200/hr)</td>
											<td>240,000.00 (2,400/hr)</td>
											<td>140,000.00 (2,800/hr)</td>
											<td>Not Applicable</td>
											<td>Not Applicable</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="5">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Motor Grader</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>200 Hours</th>
											<th>100 Hours</th>
											<th>50 Hours</th>
											<th>20 Hours</th>
											<th>10 Hours</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Komatsu D60</td>
											<td>-</td>
											<td>260,000.00 (1,300/hr)</td>
											<td>145,000.00 (1,450/hr)</td>
											<td>85,000.00 (1,700/hr)</td>
											<td>38,000.00 (1,900/hr)</td>
											<td>21,000.00 (2,100/hr)</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="6">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Truck</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr>
											<th>MODEL</th>
											<th>CAPACITY</th>
											<th>Per 1 sq. yard</th>
											<th>Per km/Mt. tons</th>
											<th>-</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Trailer w/Head</td>
											<td colspan="4">40 tons / High and Low gear equipt. / Under Negotiation</td>
										</tr>
										<tr>
											<td>Hyundai Dump</td>
											<td>15 tons</td>
											<td>45.00</td>
											<td>18.00</td>
											<td>Under Negotiation</td>
										</tr>
										<tr>
											<td>ISUZU Dump</td>
											<td>8 tons</td>
											<td>45.00</td>
											<td>18.00</td>
											<td>Under Negotiation</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="7">
							<div class="col-lg-12">
							<div class="table-label"><h5><label>Air Compressor</label></h5></div>
								<br>
								<table class="table table-bordered table-condensed" style="background:#fff;">
									<thead>
										<tr class="tr-font">
											<th colspan="2">MODEL</th>
											<th>Per day (8 hrs)</th>
											<th>add 1 Jack Hammer</th>
											<th>add 1 Chopping Hammer</th>
											<th>-</th>
										</tr>
									</thead>
									<tbody class="font-sm">
										<tr>
											<td>Denvo, Air-Man</td>
											<td>w / 1 Jack Hammer</td>
											<td>4,000.00 / day</td>
											<td>1,500.00 / day</td>
											<td>1,000.00 / day</td>
											<td>w / 1 compressor operator</td>
										</tr>
									</tbody>	
								</table>
							</div>
						</div>
					</div>
					
				</div>

{% endblock %}