{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<div class="row box-lists wow fadeIn">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Terms / Conditions</strong></label></h4>
							</div>
							<div class="col-md-12">
							
							<br>
							</div>
						</div>
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Repair</strong></label></h4>
							</div>
							<div class="col-md-12">
							
							<br>
							</div>
						</div>
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Team</strong></label></h4>
							</div>
							<div class="col-md-12">
							
							<br>
							</div>
						</div>
					</div>
					<br>
				</div>
{% endblock %}