{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists">
						<div class="col-lg-12 ">
									<br>
									<div class="row">
										<div class="col-lg-12">
											<div class="post-heading text-center ">
												<div class="horizontal-separator"></div>
												<h5><label><strong>Sales Conditions</strong></label></h5>
											</div>
										</div>
									</div>
								</div>
						<br>	
						<div class="col-lg-12  wow fadeIn">
								
								<div class="col-lg-12 ">
									<div class="row">
										<div class="col-lg-12">
											<label>1. We could recommend for external financing.</label>
											<label>2. We provide 1 month warranty or the main pump ad engine.</label>
											<label>3. We accept cash and check. (For check: Post-dated and cross check is not acceptable).</label>
										</div>
									</div>
									<br>
								</div>
							</div>
						<div class="col-md-12">
							<br>
							<br>
							<div class="post-heading text-center wow fadeInUp ">
								<div class="horizontal-separator"></div>
								<h5><label><strong>Available Units</strong></label></h5>
							</div>

							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Hydraulic Excavators</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/1.jpg" rel="group1" class="grouped_elements" title="Hydraulic Excavator EC290BLC">
											<img src="img/equipments/1.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/2.jpg" rel="group1" class="grouped_elements" title="Hydraulic Excavator EC290LC">
											<img src="img/equipments/2.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/3.jpg" rel="group1" class="grouped_elements" title="Hydraulic Excavator EC290BLC">
											<img src="img/equipments/3.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/4.jpg" rel="group1" class="grouped_elements" title="Hydraulic Excavator R2900-7">
											<img src="img/equipments/4.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/5.jpg" rel="group1" class="grouped_elements" title="Hydraulic Excavator SL130LC-V">
											<img src="img/equipments/5.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
									
								<br>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Mini Excavators</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/6.jpg" rel="group2" class="grouped_elements" title="Mini Excavator EC55B">
											<img src="img/equipments/6.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/7.jpg" rel="group2" class="grouped_elements" title="Mini Excavator EC55B">
											<img src="img/equipments/7.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/8.jpg" rel="group2" class="grouped_elements" title="Mini Excavator ROBEX555-7K">
											<img src="img/equipments/8.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/9.jpg" rel="group2" class="grouped_elements" title="Mini Excavator ROBEX555">
											<img src="img/equipments/9.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/10.jpg" rel="group2" class="grouped_elements" title="Mini Excavator S55W-VGP">
											<img src="img/equipments/10.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/11.jpg" rel="group2" class="grouped_elements" title="Mini Excavator SL55-VS">
											<img src="img/equipments/11.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/12.jpg" rel="group2" class="grouped_elements" title="Mini Excavator SL55-V">
											<img src="img/equipments/12.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Forklift</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/13.jpg" rel="group3" class="grouped_elements" title="Forklift Daewoo">
											<img src="img/equipments/13.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Motor grader</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/14.jpg" rel="group4" class="grouped_elements" title="Motor Grader GD30">
											<img src="img/equipments/14.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Vib. Road Roller</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/15.jpg" rel="group5" class="grouped_elements" title="VIB. Road Roller CVA-4">
											<img src="img/equipments/15.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Mini Bulldozer</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/16.jpg" rel="group6" class="grouped_elements" title="Mini Bulldozer D31P-18">
											<img src="img/equipments/16.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>
								<br>
							<br>
							</div>
							
							<div class="col-md-12  wow fadeInUp">
								<div class="post-heading text-center wow fadeInUp ">
									<div class="horizontal-separator"></div>
									<h4><label><strong>Trucks</strong></label></h4>
								</div>
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Tractor Head</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/17.jpg" rel="group7" class="grouped_elements" title="Tractor Head Hyundai">
											<img src="img/equipments/17.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/18.jpg" rel="group7" class="grouped_elements" title="Tractor Head Daewoo">
											<img src="img/equipments/18.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/19.jpg" rel="group7" class="grouped_elements" title="Tractor Head Daewoo">
											<img src="img/equipments/19.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>	
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Forward</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/20.jpg" rel="group8" class="grouped_elements" title="Forward Hyundai">
											<img src="img/equipments/20.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>	
							</div>
							<div class="col-md-12  wow fadeInUp">
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<label>Boom Truck</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-3">
										<a href="img/equipments/21.jpg" rel="group9" class="grouped_elements" title="Boom Truck Fuso">
											<img src="img/equipments/21.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
									<div class="col-lg-3">
										<a href="img/equipments/22.jpg" rel="group9" class="grouped_elements" title="Boom Truck MIT-Fuso">
											<img src="img/equipments/22.jpg" class="img-hvr img-responsive img-thumbnail" >
										</a>
									</div>
								</div>
								<br>	
							</div>
						</div>
					</div>
					<br>
				</div>
{% endblock %}