{% extends 'base.html.twig' %}



{% block content %}
				<div class="content-wrapper">
					<br>
					<br>
					<div class="row box-lists wow fadeInUp">
						<br>
						<div class="col-md-12">
							<div class="post-heading text-center ">
								<div class="horizontal-separator"></div>
								<h4><label><strong>Available Units</strong></label></h4>
							</div>
							<div class="col-md-12">
								<div class="pull-left" style="margin:0 15px 15px 0; width:200px;">
									<a href="img/equipments/1.jpg" class="grouped_elements" title="Hydraulic Excavator EC290BLC">
										<img src="img/equipments/1.jpg" class="img-responsive img-thumbnail" >
									</a>
								</div>
								<br>
							</div>
						</div>
					</div>
					<br>
				</div>
{% endblock %}